.marker {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 248px;
  top: 138px;

  background: #ff3d00;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 14px;
  box-shadow: 0px 0px 18px rgba(0, 56, 255, 0.7);
}
